body{
    margin: 5px;
    padding: 2px;

}
.Navbar{
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: white;
    position: relative;
    left: 40rem;
    bottom:3rem;
    
    background-color: white;
    width: 550px;
    height: 30px;
    /* border-radius: 30px; */
    /* border: 3px solid brown; */
    font-size: 15px;
    font-weight: bold;
    
   

}.Linkdin{
    position: inherit;
    right: 25px;
}

.text{
    color: brown;
    text-decoration: none;
    
}
.text:hover{
   
    color: brown;
    text-decoration: underline;
}

.Bio{
position: relative;
left: 10rem;
top: 10rem;
font-size: larger;

}
.front{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    font-size: 30px;
    left: 100px;

}
.font{
    font-family: 'Times New Roman', Times, serif;
    color: green;
    position: relative;
    right: 70px;
    bottom: 100px;
}
.font1{
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    position: relative;
    right: 70px;
    bottom: 100px;

}
.my_pic{
    height: 400px;
    width: 500px;
    position: relative;
    left: 37rem;
    bottom: 13rem;
    border-radius: 80px;
    border: 2px solid black;
}
.about{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.about2{
    font-size: 30px;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}
.about3{
    font-size: 15px;
    color: grey;
    position: relative;
    top: 200px;
    left: 600px;

}
.resume{
    position: inherit;
    bottom: 470px;
    right: 70px;
    border-radius: 30px;
    font-size: 20px;
    background-color: brown;
    color: white;
    border: 2px solid;
    cursor: pointer;
}
.resume:hover{
    background-color: green;
}

.about_frontend{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.feb{
    position: relative;
    left: 90%;
    bottom: 40px;
}
hr{
    position: relative;
    bottom: 40px;
}
.project_img{
    height: 200px;
    width: 300px;
}
.project_name{
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 3px red;
    cursor: pointer;
    width: 200px;
}
.project_img2{
    height: 200px;
    width: 500px;
}
.code_live{
    position: absolute;
    left: 70rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.technology_img{
    height: 500px;
    width: 700px;
    border-radius: 30px;
    position: relative;
    left: 30rem;

}
container1{
    position: relative;
    top: 50px;
    text-align: center;
}
.main_name{
    font-size: 30px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    bottom: 35px;
    left: 150px;
    cursor: pointer;
}
.main_name:hover{
    text-shadow: 1px 2px 2px brown;
}